.heading-backgrount{
  color: aliceblue;
  background-color:#483d8b;
  text-transform: capitalize;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}
.articl-heading{
  color: #483d8b;
  text-transform: uppercase;
  text-align: center;
}
.paragraf-style{
  color: #483d8b;
  text-indent: 0.5cm;
}